<span class="btn btn-small" {{action creerSphere }}>+sphere</span>
<span class="btn btn-small" {{action creerCube }}>+cube</span>
<span class="btn btn-small" {{action createHyperCube }}>+cc</span>

{{controllers.inspector.content.name}}
{{input value=controllers.inspector.content.name}}
{{input value=controllers.inspector.content.x type=number}}
{{input value=controllers.inspector.content.y type=number}}
{{input value=controllers.inspector.content.z type=number}}